/*  氏名: カインテュザァ
　　提出日: 2024年3月28日
****************************************************** */
.form-group{
    padding-top: 10px;
}
button{
    margin-top: 15px;
}
.form-control{
    border: 1px solid #ced4da;
}